.App{
  min-height: 101vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FAF9F4;
}
.app__body{
  display: flex;
  flex-direction: column;

  padding-left: 10px;
  padding-right: 10px;
}